zns.example.org {
    encode gzip

    reverse_proxy zns:443 {
        transport http {
            tls
            tls_insecure_skip_verify
        }
    }
}

:80 {
    redir https://{host}{uri} permanent
}